// === faq ===

.section-faq {
    padding: 6.5rem 0;

    .section-inner {
    
    }
    
    .faq {
        &-header {
            margin-bottom: 2.5rem;
        }

        &-content {
            padding-left: 2rem;

            &-item {
                cursor: pointer;
                
                &:not(:last-child) {
                    margin-bottom: 1.5rem;
                }

                h3 {
                    font-size: 1.25rem;
                    position: relative;

                    &::before {
                        content: "";
                        position: absolute;
                        width: 1.25rem;
                        height: 0.15rem;
                        background-color: $color_black_main;
                        left: 0;
                        top: 50%;
                        transform: translate(-150%, 50%);
                    }
                }

                p {
                    line-height: 1.6;
                    margin-top: 1rem;

                    display: none;
                }
            }
        }
    }
    
}

// === / faq ===