// === Footer [ Стили для футера, используемые на всех страницах ] ===

.section-footer {
    background-color: $color_black_main;
    padding: 3.8rem 0;

    .section-inner {

    }

    .footer {
        color: $color_white;
        display: flex;
        justify-content: space-between;

        @media ($media_sm) {
            flex-direction: column;
        }

        h3 {
            font-size: 16px;
            text-transform: uppercase;
            margin-bottom: 1.6rem;
            font-family: 'HeliosBlackC', sans-serif;
        }

        a {
            color: $color_white;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }

            &.footer-info-logo {
                &:hover {
                    text-decoration: none;
                }
            }
        }

        .column {
            display: flex;
            flex-direction: column;
            //justify-content: space-between;

            @media ($media_sm) {
                &:not(:last-child) {
                    margin-bottom: 2rem;
                }
            }

            @media ($media_xs) {
                &:nth-child(3) {
                    margin-bottom: 0;
                }
            }
        }

        &-info {

            &-logo {
                display: flex;
                align-items: center;
                margin-bottom: 1rem;

                img {
                    width: 3.625rem;
                    height: auto
                }

                h3 {
                    text-transform: none;
                    margin-left: 0.5rem;
                    margin-bottom: 0;

                    font-family: 'HeliosBlackC', sans-serif;
                    font-size: 1.25rem;
                }
            }

            &-links {
                display: flex;
                flex-direction: column;

                a {
                    white-space: nowrap;
                    font-size: 0.9rem;

                    &:not(:last-child) {
                        margin-bottom: 0.7rem;
                    }
                }
            }
        }

        &-navigation {

            &-links {
                display: flex;
                flex-direction: column;

                a {
                    cursor: pointer; 
                    
                    &:not(:last-child) {
                        margin-bottom: 0.5rem;
                    }
                }
            }
        }

        &-contacts {

            &-items {

                &-item {
                    display: flex;
                    align-items: center;

                    picture {
                        display: inline-flex;
                    }

                    img {
                        margin-right: 0.8rem;
                        width: 1.5rem;
                    }

                    a {
                        line-height: 1.6;
                    }

                    &:not(:last-child) {
                        margin-bottom: 1.2rem;
                    }
                }
            }
        }

        &-social {

            @media ($media_xs) {
                order: -1;
                margin-bottom: 3rem;
            }

            h3 {
                margin-bottom: 1.4rem;
            }

            &-app {

                &-icons {

                    a {
                        display: inline-flex;
                        max-width: 7rem;
                        cursor: pointer;

                        img {
                            max-width: 100%;
                        }
                    }
                }

                @media ($media_sm) {
                    margin-bottom: 1.5rem;
                }
            }

            &-network {
                margin-top: 1rem;

                &-content {
                    display: flex;
                    
                    &-icons {
                        display: flex;
                        align-items: center;

                        a {
                            display: inline-flex;
                            align-items: center;
                            max-height: 1.9rem;

                            img {
                                max-height: 100%;
                            }

                            &:not(:last-child) {
                                margin-right: 0.6rem;
                            }
                        }
                    }

                    &-right {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        margin-left: 1rem;

                        span {
                            font-size: 0.65rem;
                        }
                    }
                }
            }
        }
    }

}

// === / Footer ===