// === Header [ Стили для навбара, используемые на всех страницах ] ===

.section-header {
    position: absolute;
    width: 100%;
    background-color: $color_black_main;
    transition: 0.3s ease-in-out;
    z-index: 1;

    &.static {
        position: static;
    }

    &.fixed {
        position: fixed;
        background-color: $color_white;
        box-shadow: 0 0 1.25rem 0 rgba(0, 0, 0, 0.1);
        z-index: 2;

        .header {
            .menu-list {

                &-item {

                    a {
                        color: $color_black_main;

                        &::after {
                            background-color: $color_black_main;
                        }
                    }
                }
            }

            .logo {
                strong {
                    color: $color_logo;
                }
            }
        }

    }
    
    .section-inner {
        
    }

    h1 {
        text-align: center;
        margin-bottom: 2rem;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 0;

        @media ($media_sm) {
            flex-direction: column;
        }

        &-content {
            @media ($media_sm) {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
            }
        }

        .logo {
            display: flex;
            align-items: center;
            text-decoration: none;

            picture {
                width: 3.2rem;

                img {
                    max-width: 100%;
                }
            }

            strong {
                display: inline-block;
                margin-left: 0.5rem;
                font-family: 'HeliosBlackC', sans-serif;
                font-size: 1rem;
                color: $color_white;
            }
        }

        .menu {
            @media ($media_sm) {
                width: 100%;
            }
        }

        .menu-list {
            display: flex;

            @media ($media_sm) {
                flex-direction: column;
                padding: 1rem 0;
            }

            &-item {
                &:not(:last-child) {
                    margin-right: 2rem;

                    @media ($media_sm) {
                        margin: 0 0 2rem 0;
                    }
                }

                a {
                    font-family: 'HeliosBlackC', sans-serif;
                    font-weight: bold;
                    text-decoration: none;
                    color: $color_white;
                    padding: 0.5rem 0;
                    position: relative;
                    cursor: pointer;

                    &::after {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 0.07rem;
                        background-color: $color_white;
                        transition: 0.3s ease-in-out;
                        transform: scale(0, 1)

                    }

                    &:hover {
                        &::after {
                            transform: scale(1, 1);
                        }
                    }
                }

                &.active {
                    a {
                        &::after {
                            transform: scale(1);
                        }
                    }
                }
            }
        }
    }

}

// === / Header ===